input {
  width: 100%;
}

.kg-button {
  min-width: 80px;
}

.kg-row {
  margin: 10px 5px;
}
*{
  background-color: rgb(218, 250, 250);
 

 
}
.addtodo{
  border-radius: 8px;
  padding: 10px;
  border: hidden;
  border: 1px solid gray;
}
.adddate{
  border-radius: 8px;
  padding: 10px;
  border: hidden;
  border: 1px solid gray;
 
}